<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">


</head>
<body>
    <nav class="navBarClass">
        <div class="navBarDivClass">
            Arkadiusz Maśliński - Program do obsługi pracowników i projektów
        </div>
    </nav>
    <div>
        <div>

            <div class="addProjectClass">
                <h1> Login </h1>
                <form th:action="@{/login}" method="post">

                    <div th:if="${param.error}">
                        <div class="badUserNameClass">Invalid username or password.</div>
                    </div>

                    <div th:if="${param.logout}" >
                        <div class="badUserNameClass">You have been log out</div>
                    </div>
                    <div>
                        <br>Login
                        <label for="username"></label> :
                        <br><input class="addProjectInputClass" type="text" id="username" name="username"
                                   placeholder="Login" autofocus="autofocus">
                    </div>
                    <div>
                        <br>Password
                        <label for="password"></label>:
                        <br><input class="addProjectInputClass" type="password" id="password" name="password"
                                   placeholder="Password"/>
                    </div>
                    <div>
                        <form th:action="@{/index}" method="post">
                            <button class="saveButtonClass" type="submit" value="Log in">Log in</button>
                        </form>
                    </div>
                </form>
                <div >
                    <a href="/" th:href="@{/registration}">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>