<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">

</head>
<body>
    <div>
        <nav class="navBarClass">
            <form th:action="@{/logout}" method="post">
                <button class="logoutButtonClass" type="submit" value="Wyloguj się">Wyloguj się</button>
            </form>
            <form>
                <input type="button" class="backButtonClass" value="Wróć" onclick="history.back()">
            </form>
            <div class="navBarButtonsClass">
                <a class="navBarButtonsClass" th:href="@{/}" type="button"> Tabela Pracowników </a>
                <a class="navBarButtonsClass" th:href="@{/showNewMainProjectForm}"> Dodaj projekt </a>
            </div>
        </nav>
    </div>
    <h1>Tabela projektu</h1>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                    Id</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">
                    Data</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=scratchNumber&sortDir=' + ${reverseSortDir}}">
                    Numer rys</a>

            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=projectName&sortDir=' + ${reverseSortDir}}">
                    Nazwa projektu</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=principalName&sortDir=' + ${reverseSortDir}}">
                    Zlecający</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=material&sortDir=' + ${reverseSortDir}}">
                    Materiał</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=thickness&sortDir=' + ${reverseSortDir}}">
                    Grubość</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=quantity&sortDir=' + ${reverseSortDir}}">
                    Liczba sztuk</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=waterLaser&sortDir=' + ${reverseSortDir}}">
                    Woda-laser</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=ship&sortDir=' + ${reverseSortDir}}">
                    Wysyłka/Odbiorca</a>
            </th>
            <th>
                <a th:href="@{'/showMainProjectIndex/page/' + ${currentPage} + '?sortField=comments&sortDir=' + ${reverseSortDir}}">
                    Uwagi</a>
            </th>
            <th>Edytuj/Usuń</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="mainProject : ${mainProjectList}">
            <td th:text="${mainProject.id}"></td>
            <td th:text="${mainProject.date}"></td>
            <td th:text="${mainProject.scratchNumber}"></td>
            <td th:text="${mainProject.projectName}"></td>
            <td th:text="${mainProject.principalName}"></td>
            <td th:text="${mainProject.material}"></td>
            <td th:text="${mainProject.thickness}"></td>
            <td th:text="${mainProject.quantity}"></td>
            <td th:text="${mainProject.waterLaser}"></td>
            <td th:text="${mainProject.ship}"></td>
            <td th:text="${mainProject.comments}"></td>
            <td>
                <a th:href="@{/showFormForUpdateProject/{id}(id=${mainProject.id})}">Edytuj</a>
                <a th:href="@{/deleteProject/{id}(id=${mainProject.id})}">Usuń</a>
            </td>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="amountDivClass">
         <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}"
             th:href="@{'/showMainProjectIndex/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span>
         </span>
    </div>
    <div class="amountDivClass"
         th:if="${totalPages > 1}">
    </div>

    <div class="amountPageDivClass">
        Ilość : [[${totalItems}]]
    </div>

    <div class="nextLastDivClass">
        <a th:if="${currentPage < totalPages}"
           th:href="@{'/showMainProjectIndex/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Następna</a>
        <span th:unless="${currentPage < totalPages}">Następna</span>
        <a th:if="${currentPage < totalPages}"
           th:href="@{'/showMainProjectIndex/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ostatnia</a>
        <span th:unless="${currentPage < totalPages}">Ostatnia</span>
    </div>
    </div>
</body>
</html>