<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>System zarządzania pracownikami</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>System zarządzania pracownikami</h1>
  <hr>
  <h2>Zapisz pracownika</h2>

  <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
    <input type="text" th:field="*{firstName}" placeholder="Imię pracownika" class="form-control mb-4 col-4">

    <input type="text" th:field="*{lastName}" placeholder="Nazwisko pracownika" class="form-control mb-4 col-4">

    <input type="text" th:field="*{email}" placeholder="Email pracownika" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Zapisz pracownika</button>
  </form>

  <hr>

  <a th:href="@{/}">Powróc do listy pracowników</a>
</div>
</body>

</html>