
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">

</head>
<body>
<div>
    <nav class="navBarClass">
        <form th:action="@{/logout}" method="post">
            <button class="logoutButtonClass" type="submit" value="Wyloguj się">Log out</button>
        </form>
        <form>
            <input type="button" class="backButtonClass" value="Back" onclick="history.back()">
        </form>
        <div class="navBarButtonsClass">
            <a class="navBarButtonsClass" th:href="@{/}" type="button"> List of employees</a>
        </div>
    </nav>

    <h1>Add project</h1>

    <div class="addProjectClass">
        <form action="#" th:action="@{/saveSupplierProject}"th:object="${supplier}", method="POST">
            <br>Date
            <br><input class="addProjectInputClass" type="date" th:field="*{date}">
            <br>Scratch number
            <br><input class="addProjectInputClass" type="text" th:field="*{scratchNumber}" placeholder="Scratch number">
            <br>Project name
            <br><input class="addProjectInputClass" type="text" th:field="*{projectName}" placeholder="Project name">
            <br>Principal name
            <br><input class="addProjectInputClass" type="text" th:field="*{principalName}" placeholder="Principal name">
            <br>Material
            <br><select class="addProjectInputClass" name="material" th:field="*{material}" >
            <option value="">Select material</option>
            <option value="Material 1">Material 1</option>
            <option value="Material 2">Material 2</option>
            <option value="Material 3">Material 3</option>
            <option value="Material 4">Material 4</option>
        </select>
            <br>Thickness
            <br><input class="addProjectInputClass" type="text" th:field="*{thickness}" placeholder="Thickness">
            <br>Quantity
            <br><input class="addProjectInputClass" type="text" th:field="*{quantity}" placeholder="Quantity">
            <br>Water/Laser
            <br><input class="addProjectInputClass" type="text" th:field="*{waterLaser}" placeholder="Water/Laser">
            <br>Ship
            <br><input class="addProjectInputClass" type="text" th:field="*{ship}" placeholder="Ship">
            <br>Comments
            <br><input class="addProjectInputClass" type="text" th:field="*{comments}" placeholder="Comments">

            <br><button class="saveButtonClass" type="submit">Save project</button>
        </form>
    </div>
</div>
</body>
</html>
