<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">

</head>
<body>
<div>
    <nav class="navBarClass">
        <form th:action="@{/logout}" method="post">
            <button class="logoutButtonClass" type="submit" value="Wyloguj się">Log out</button>
        </form>
        <form>
            <input type="button" class="backButtonClass" value="Back" onclick="history.back()">
        </form>
        <div class="navBarButtonsClass">
            <a class="navBarButtonsClass" th:href="@{/}" type="button">List of employees </a>
            <a class="navBarButtonsClass" th:href="@{/showNewTechnologistProjectForm}"> Add project </a>
        </div>
    </nav>
</div>
<h1>Project table</h1>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                Id</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">
                Date</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=scratchNumber&sortDir=' + ${reverseSortDir}}">
                Scratch number</a>

        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=projectName&sortDir=' + ${reverseSortDir}}">
                Project name</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=principalName&sortDir=' + ${reverseSortDir}}">
                Principal name</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=material&sortDir=' + ${reverseSortDir}}">
                Material</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=thickness&sortDir=' + ${reverseSortDir}}">
                Thickness</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=quantity&sortDir=' + ${reverseSortDir}}">
                Quantity</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=waterLaser&sortDir=' + ${reverseSortDir}}">
                Woda-laser</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=ship&sortDir=' + ${reverseSortDir}}">
                Ship</a>
        </th>
        <th>
            <a th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage} + '?sortField=comments&sortDir=' + ${reverseSortDir}}">
                Comments</a>
        </th>
        <th>Edit/Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="technologistProject : ${technologistProjectList}">
        <td th:text="${technologistProject.id}"></td>
        <td th:text="${technologistProject.date}"></td>
        <td th:text="${technologistProject.scratchNumber}"></td>
        <td th:text="${technologistProject.projectName}"></td>
        <td th:text="${technologistProject.principalName}"></td>
        <td th:text="${technologistProject.material}"></td>
        <td th:text="${technologistProject.thickness}"></td>
        <td th:text="${technologistProject.quantity}"></td>
        <td th:text="${technologistProject.waterLaser}"></td>
        <td th:text="${technologistProject.ship}"></td>
        <td th:text="${technologistProject.comments}"></td>
        <td>
                <a th:href="@{/showFormForUpdateTechnologistProject/{id}(id=${technologistProject.id})}">Edit</a>
            <td sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a th:href="@{/deleteTechnologistProject/{id}(id=${technologistProject.id})}">Delete</a>
            </td>
        </td>

        </td>
    </tr>
    </tbody>
</table>
<div class="amountDivClass">
         <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}"
             th:href="@{'/showTechnologistProjectIndex/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span>
         </span>
</div>
<div class="amountDivClass"
     th:if="${totalPages > 1}">
</div>

<div class="amountPageDivClass">
    Total : [[${totalItems}]]
</div>

<div class="nextLastDivClass">
    <a th:if="${currentPage < totalPages}"
       th:href="@{'/showTechnologistProjectIndex/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>
    <a th:if="${currentPage < totalPages}"
       th:href="@{'/showTechnologistProjectIndex/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>
</div>
</div>
</body>
</html>