<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset=UTF-8>
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">


</head>

<body>
<div>
    <nav class="navBarClass">
        <form th:action="@{/logout}" method="post">
            <button class="logoutButtonClass" type="submit" value="Wyloguj się">Log out</button>
        </form>
        <form>
            <input type="button" class="backButtonClass" value="Back" onclick="history.back()">
        </form>
        <div class="navBarButtonsClass">
            <a class="navBarButtonsClass" th:href="@{/}" type="button"> List of employees </a>
        </div>
    </nav>
</div>
<h1>Edit employee</h1>
<div class="addProjectClass">
    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">

        <br><input class="addProjectInputClass" type="hidden" th:field="*{id}"/>
        <br>First name:
        <br><input class="addProjectInputClass" type="text" th:field="*{firstname}">
        <br>Last name
        <br><input class="addProjectInputClass" type="text" th:field="*{lastname}">
        <br>Login
        <br><input class="addProjectInputClass" type="text" th:field="*{login}">
        <br>Password
        <br><input class="addProjectInputClass" type="text" th:field="*{password}">

        <div>
            <label>Select Role</label>
            <div class="editRoleClass">
                <th:block th:each="role : ${roleList}">
                    <input class="editRoleClass" type="radio" th:field="*{roles}"
                           th:value="${role.id}"
                           th:text="${role.name}"/>
                </th:block>
            </div>
        </div>
        <br><button class="saveButtonClass" type="submit">Edit employee</button>
    </form>
</div>
</body>

</html>