<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Arkadiusz Maśliński - Program do obsługi pracowników i projektów</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">

</head>
<body>
<div>
    <nav class="navBarClass">
        <form th:action="@{/logout}" method="post">
            <button class="logoutButtonClass" type="submit" value="Wyloguj się">Log out</button>
        </form>
        <form>
            <input type="button" class="backButtonClass" value="Back" onclick="history.back()">
        </form>
        <div class="navBarButtonsClass">
            <a class="navBarButtonsClass" th:href="@{/}" type="button"> List of employees </a>
        </div>
    </nav>
</div>
<h1>Employee details</h1>
<br/><br/>
<div class="employeePageClass" th:if="${user}">
    <table>
        <tr>
            <td>ID</td>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>First name</td>
            <td th:text="${user.firstname}"></td>
        </tr>
        <tr>
            <td>Last Name </td>
            <td th:text="${user.lastname}"></td>
        </tr>
        <tr>
            <td>Login</td>
            <td th:text="${user.login}"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${user.roles}"></td>
        </tr>
        <tr>
            <td>Projects</td>
        </tr>

    </table>
    <br/><br/>
    <div>
        <a class="thButtonEditClass" th:href="@{/showFormForUpdate/{id}(id=${user.id})}">Edit</a>
        <a class="thButtonDeleteClass" th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
    </div>

</div>
</body>
</html>